body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #333;
  text-align: center;
}

#header {
  background-color: #ffa500;
  padding: 20px;
}

#section, #section2 {
  margin: 20px;
}

img {
  width: 300px;
  height: auto;
  margin: 10px;
  border-radius: 10px;
}
